/SoapServer/target/
/SoapClient/target/
/RestInterface/target/
/RestRequester/target/
/RestProvider/target/
/XmlOPS/
/OperacoesProvider/target/
/OperacoesRequester/target/
/OperacoesRequest/target/
/ClientesCidades/target/
/ClientesWebService/target/
/ClientesRest/target/
